body {
width: 100vw;
overflow-x: hidden;

}


a {
  text-decoration: none;
}

.overlay-circle {
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #ffdc4a;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
 left: 0;

  animation: throb 2s cubic-bezier(0, 0.2, 0.8, 1)  infinite;
}
#no2 {
  animation: throb 2s 1s cubic-bezier(0, 0.2, 0.8, 1)  infinite;
}
@-webkit-keyframes throb {
  from {
       top: 50px;
    left: 50px;
    width: 0;
        height: 0;
  }
  to {
      top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
}

/* Standard syntax */
@keyframes throb {
   from {
       top: 50px;
    left: 50px;
    width: 0;
        height: 0;
  }
  to {
      top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
}
